.cube{
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 6s linear infinite;
    margin-top: 150px;
    margin-bottom: 180px;
    margin-left: 40%;
    margin-right: 50%;
}

@keyframes animate
 {
    0%
    {
    transform: rotateX(-30deg) rotateY(0deg);
    }
    100%
    {
    transform: rotateX(-30deg) rotateY(360deg);
    }
    
}

.cube div{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   transform-style: preserve-3d;
}

.cube div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515, #00ec00);
    transform: rotateY(calc(90deg*var(--i))) translateZ(150px);

}

.cube div span div{

    text-align: center;
    font-size: 80px;
    color: rgb(72, 236, 78);
   
}

.top{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #222;
    transform: rotateX(90deg) translateZ(150px);
}

.top::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #0f0;
    transform: translateZ(-400px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(0, 255,0,0.2),
    0 0 200px rgba(0, 255,0,0.4),
    0 0 300px rgba(0, 255,0,0.6),
    0 0 400px rgba(0, 255,0,0.8),
    0 0 500px rgba(0, 255,0,1);
}

@media only screen and (max-width: 600px){
    .cube{
        margin-left: 11px;
       
    }
}